#mapid{

    height: 300px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    background: rgb(124, 2, 2);
    
}

.titulo{
    font-size: 80px;
    font-family: "Comic Sans MS,Arial,Verdana";
    margin-bottom: 50px;
    color: rgb(37, 94, 37);
}

.subtitulo {
    margin: 5px ;
    color: rgb(11, 7, 77);
    font-size: 40px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
}

.subtitulo1{
    margin: 5px;
    color: rgb(47, 6, 143);
    font-size: 40px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
}

.subtitulo2{
    margin: 0;
    color: rgb(77, 7, 13);
    font-size: 30px;
    font-weight: 300;
    font-family: "Times New Roman", Times, serif;
}
    
body{
    background-color: #AEAEB8;
    font-family: "Times New Roman", Times, serif;
    
}

.parrafo{
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 20px;
}
.imagen{
    width: 300px;
    height: 300px;
    border: 5px solid rgb(2, 1, 59);
}
.wrapper {
  width: 80%;
  overflow:hidden;
  font-family: "Times New Roman", Times, serif;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}
.footer{
    color: burlywood;
    background-color: black;

}
.imagen2{
    width: 1000px;
    height: 380px;
    
}